.change-password{
    height: 100vh;

    .lx-card{
        border: 0.5px solid #eff0f1;

        .lx-btn{
            line-height: 1.3;
            width: fit-content;
            cursor: pointer;
        }

        .lx-row.is-between{
            margin-top: 3.5em;
        }
    }
}

@media screen and (max-width: 900px) {
    .change-password{
        .lx-card{
            .lx-row.is-between{
                flex-flow: wrap row;
            }
        }
    }
}